.header {
  background-color: #fff;
  display: flex;
  justify-content: end;
  padding: 0px 12px;

  .profile {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50px;
      border: 1px solid #cecece;
    }

    .name,
    .email {
      margin: 0;
      line-height: 1.4;
    }

    .name {
      font-weight: 500;
    }

    .email {
      font-size: 13px;
    }
  }
}

.layout {
  overflow-y: hidden;
  height: 100vh;

  .content {
    padding: 12px;
    overflow-y: auto;
  }
}

.logo {
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
