@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind components;
@tailwind utilities;

*,
html,
body {
  font-family: "Roboto", sans-serif;
}

.page-content {
  overflow: hidden;
}

.ant-input-number {
  width: 100%;
}

.slick-list {
  padding: 0 !important;
}

.ant-input.ant-input {
  height: auto !important;
}

.input-search input {
  border: none !important;
  border-radius: unset !important;
}
